@page "/Audits/Tools/GovermentObjetives/Edit/{Id:Guid}"
@model HumanTalentApp.Pages.Audits.Tools.GovermentObjetives.EditModel
@{
    ViewData["Title"] = "Editar Objetivos de Gobierno";
    Layout = "_FormsLayout";
}
<form class="row gy-2 gx-3 align-items-center" id="orderRepair" method="post">
    @Html.HiddenFor(model => model.Brand.IdeGuvermentObjetive)
    <div class="text-danger"></div>
    <div class="card mb-4">
        <div class="row justify-content-center">
            <div class="card-body">
                <label>Detalles</label>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="form-floating mb-3">
                    <input id="Name" name="Name" class="form-control" placeholder="name" value="@Model.Brand.Name" />
                    <label>Name</label>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="form-floating mb-3">
                    <input id="Code" name="Code" class="form-control" placeholder="code" value="@Model.Brand.Code" />
                    <label>Code</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-check mb-3">
                    <input id="Principal" name="Principal" class="form-check-input" type="checkbox"  value="@Model.Brand.IsPrincipal" />
                    <label class="form-check-label">Principal</label>
                </div>
                <div class="form-check mb-3">
                    <input id="Status" name="Status" class="form-check-input" type="checkbox"  value="@Model.Brand.Status" />
                    <label class="form-check-label">Status</label>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body text-center">
        <a id="save" name="save" class="btn btn-success col-md-3 col-sm-3 mb-3"><i class="fas fa-save"></i>&thinsp;Guardar</a>
        <a id="cancel" name="cancel" class="btn btn-danger col-md-3 col-sm-3 mb-3" href="javascript:history.back()"><i class="fas fa-xmark"></i>&thinsp;Cancelar</a>
    </div>
</form>

<script>
    window.onload=function () {
        let save = document.getElementById('save');
        save.addEventListener('click', saveData);
    };
    function saveData(e) {
        const checkbox1 = document.getElementById('Principal');
        const checkbox2 = document.getElementById('Status');
        fetch("@Url.Action("UpdateObjetive", "GouvernmentObjetives")", {
            method: 'PUT',
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                IdeGuvermentObjetive: document.getElementById('Brand_IdeGuvermentObjetive').value,
                Name: document.getElementById('Name').value,
                Code: document.getElementById('Code').value,
                IsPrincipal: checkbox1.checked,
                Status: checkbox2.checked
            }),
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                if (data && data.message) {
                    Swal.fire({
                        title: 'Mensaje',
                        text: data.message,
                        icon: 'success',
                        iconColor: '#198754',
                        confirmButtonColor: '#198754',
                        confirmButtonText: 'Aceptar',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            history.back();
                        }
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire({
                    title: 'Error',
                    text: 'Error al actualizar registro',
                    icon: 'error',
                    iconColor: '#dc3545',
                    confirmButtonColor: '#dc3545',
                    confirmButtonText: 'Aceptar',
                });
            });
    }
</script>
